 h1{
     font-size: 48px;
     color: dimgray;
     
   
 }
 #description{
     margin: 40px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 a{
     padding: 10px;
     background-color: rgba(255, 0, 0, 0.685);
     color: white;
     font-size: 22px;
     border-radius: 4px;
    border: 2px solid rgba(21, 17, 226, 0.781);

  }
     a:hover{
         background-color: rgb(0, 255, 179);
         text-decoration: none;
     }
 li{
     margin: 36px auto 0 auto;
     background-color: rgba(255, 145, 0, 0.781);
     border-radius: 15px;
     padding:15px;
     box-shadow: 1px 1px 4px rgba(0,0,0,1);
 }
 ol{
 list-style: none;
color: rgb(30, 30, 32);
 }

h2{
    color: rgb(78, 13, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main p{
    margin: 12px;
}

